@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Inter", sans-serif;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30000;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.header .logo {
  height: 35px;
}
.header .logo img {
  height: 100%;
}
.header .menu a {
  color: #fff;
  font-size: 16px;
  margin-left: 32px;
}
.header .menu a:nth-child(1) {
  color: #DD9933;
  margin-left: 0;
}

.bg_block {
  width: 100%;
  height: 500px;
  position: relative;
}
.bg_block .block_video {
  width: 100%;
  height: 100%;
}
.bg_block .block_video img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bg_block .block_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.bg_block .block_text h2 {
  font-size: 220px;
  color: #fff;
  letter-spacing: -5px;
  margin-bottom: 40px;
}
.bg_block .block_text p {
  color: #fff;
  font-size: 50px;
  font-weight: 200;
}
.bg_block .block_text p span {
  color: #EBAA27;
  font-weight: 600;
}

.baner_text {
  width: 100%;
  min-height: 100vh;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.baner_text p {
  font-size: 27px;
  color: #fff;
  text-align: center;
  line-height: 1.3em;
}
.baner_text p span {
  color: #EAAA26;
}
.baner_text h2 {
  font-size: 30px;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
  margin-top: 40px;
  font-weight: 200;
  line-height: 1.2em;
}
.baner_text h2 span {
  color: #EAAA26;
}
.baner_text a {
  color: #fff;
  font-size: 60px;
  margin-bottom: 30px;
  font-weight: 600;
}
.baner_text .mod_text {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.block_text_2 {
  width: 100%;
  background-color: #000;
  color: #fff;
}
.block_text_2 .text_karts {
  width: 100%;
  padding: 60px 0px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.block_text_2 .text_karts .karta {
  width: 60%;
  text-align: justify;
  padding: 0 20px;
}
.block_text_2 .text_karts .karta h2 {
  font-size: 24px;
  line-height: 1.4em;
  color: #EAAA26;
  text-align: center;
  margin-bottom: 30px;
}
.block_text_2 .text_karts .karta p {
  font-size: 18px;
  line-height: 1.4em;
  font-weight: 200;
}
.block_text_2 .text_karts .karta:nth-child(2) {
  width: 40%;
}

footer {
  width: 100%;
}
footer .footer_text {
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 30px;
  text-align: center;
  font-size: 18px;
  line-height: 1.16em;
}
footer .footer_text span {
  color: #EAAA26;
}
footer .footer_block {
  width: 100%;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 25px;
}
footer .footer_block .footer_item {
  width: 300px;
  padding: 45px 0;
}
footer .footer_block .footer_item .item_img {
  height: 40px;
}
footer .footer_block .footer_item .item_img img {
  height: 100%;
}
footer .footer_block .footer_item h2 {
  font-size: 16px;
  color: #EAAA26;
}
footer .footer_block .footer_item p {
  font-size: 16px;
  line-height: 1.4em;
}

@media screen and (max-width: 1199px) {
  .container {
    width: 900px;
  }
}
@media screen and (max-width: 991px) {
  .container {
    width: 667px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    width: 500px;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30000;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  .header .logo {
    height: 35px;
  }
  .header .logo img {
    height: 100%;
  }
  .header .menu a {
    color: #fff;
    font-size: 16px;
    margin-left: 32px;
  }
  .header .menu a:nth-child(1) {
    color: #DD9933;
    margin-left: 0;
  }

  .bg_block {
    width: 100%;
    height: 100vh;
  }
  .bg_block .block_video {
    width: 100%;
  }
  .bg_block .block_video img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .bg_block .block_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .bg_block .block_text h2 {
    font-size: 150px;
    color: #fff;
    letter-spacing: -5px;
    margin-bottom: 40px;
  }
  .bg_block .block_text p {
    color: #fff;
    font-size: 20px;
    font-weight: 200;
  }

  .baner_text {
    width: 100%;
    min-height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .baner_text p {
    font-size: 17px;
    color: #fff;
    text-align: center;
    line-height: 1.3em;
  }
  .baner_text p span {
    color: #EAAA26;
  }
  .baner_text h2 {
    font-size: 13px;
    color: #EAAA26;
    margin-bottom: 30px;
  }
  .baner_text a {
    color: #fff;
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 600;
  }
  .baner_text .mod_text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .partners_block {
    width: 100%;
    padding: 40px 0;
  }
  .partners_block .par_zag {
    width: 100%;
    text-align: center;
    color: #EAAA26;
    font-size: 18px;
    margin-bottom: 40px;
  }
  .partners_block .partners {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }
  .partners_block .partners .item {
    width: 280px;
  }
  .partners_block .partners .item img {
    width: 100%;
    object-fit: cover;
  }

  footer {
    width: 100%;
  }
  footer .footer_text {
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 30px;
    text-align: center;
    font-size: 14px;
    line-height: 1.16em;
  }
  footer .footer_text span {
    color: #EAAA26;
  }
  footer .footer_block {
    width: 100%;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 25px;
  }
  footer .footer_block .footer_item {
    width: 300px;
    padding: 25px 0;
    text-align: center;
  }
  footer .footer_block .footer_item .item_img {
    height: 40px;
  }
  footer .footer_block .footer_item .item_img img {
    height: 100%;
  }
  footer .footer_block .footer_item h2 {
    font-size: 16px;
    color: #EAAA26;
  }
  footer .footer_block .footer_item p {
    font-size: 16px;
    line-height: 1.4em;
  }
}
@media screen and (max-width: 575px) {
  .container {
    width: 100%;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30000;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  .header .logo {
    height: 27px;
  }
  .header .logo img {
    height: 100%;
  }
  .header .menu a {
    color: #fff;
    font-size: 10px;
    margin-left: 10px;
  }
  .header .menu a:nth-child(1) {
    color: #DD9933;
    margin-left: 0;
  }

  .bg_block {
    width: 100%;
    height: 100vh;
  }
  .bg_block .block_video {
    width: 100%;
    height: 100%;
  }
  .bg_block .block_video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .bg_block .block_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .bg_block .block_text h2 {
    font-size: 90px;
    color: #fff;
    letter-spacing: -5px;
    margin-bottom: 20px;
  }
  .bg_block .block_text p {
    color: #fff;
    font-size: 15px;
    font-weight: 200;
  }

  .baner_text {
    width: 100%;
    min-height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .baner_text p {
    font-size: 17px;
    color: #fff;
    text-align: center;
    line-height: 1.3em;
  }
  .baner_text p span {
    color: #EAAA26;
  }
  .baner_text h2 {
    font-size: 13px;
    color: #EAAA26;
    margin-bottom: 30px;
  }
  .baner_text a {
    color: #fff;
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 600;
  }
  .baner_text .mod_text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .block_karts {
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .block_karts .karts_img {
    width: 49%;
    padding-bottom: 10px;
  }
  .block_karts .karts_img img {
    width: 100%;
  }

  .partners_block {
    width: 100%;
    padding: 40px 0;
  }
  .partners_block .par_zag {
    width: 100%;
    text-align: center;
    color: #EAAA26;
    font-size: 18px;
    margin-bottom: 40px;
  }
  .partners_block .partners {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }
  .partners_block .partners .item {
    width: 280px;
  }
  .partners_block .partners .item img {
    width: 100%;
    object-fit: cover;
  }

  .block_text_2 {
    width: 100%;
    background-color: #000;
    color: #fff;
  }
  .block_text_2 .text_karts {
    width: 100%;
    padding: 60px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .block_text_2 .text_karts .karta {
    width: 100%;
    text-align: justify;
    padding: 0 20px;
  }
  .block_text_2 .text_karts .karta h2 {
    font-size: 24px;
    line-height: 1.4em;
    color: #EAAA26;
    text-align: center;
    margin-bottom: 30px;
  }
  .block_text_2 .text_karts .karta p {
    font-size: 18px;
    line-height: 1.4em;
    font-weight: 200;
  }
  .block_text_2 .text_karts .karta:nth-child(2) {
    width: 100%;
    margin-top: 50px;
  }

  footer {
    width: 100%;
  }
  footer .footer_text {
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 30px;
    text-align: center;
    font-size: 14px;
    line-height: 1.16em;
  }
  footer .footer_text span {
    color: #EAAA26;
  }
  footer .footer_block {
    width: 100%;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 0px;
  }
  footer .footer_block .footer_item {
    width: 300px;
    padding: 25px 0;
    text-align: center;
  }
  footer .footer_block .footer_item .item_img {
    height: 40px;
  }
  footer .footer_block .footer_item .item_img img {
    height: 100%;
  }
  footer .footer_block .footer_item h2 {
    font-size: 16px;
    color: #EAAA26;
  }
  footer .footer_block .footer_item p {
    font-size: 16px;
    line-height: 1.4em;
  }
}